/* Import fonts */
@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --main-dark: #1e1e2e;
    --main-light: #e9e9e9;

    --secondary-color: #929d0e;
}


/* Global styles */
html {
    background-color: var(--main-dark);
    color: var(--main-light);
    cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1014.cur), auto !important;
}

body {
    max-width: 540px;
    margin: 0 auto;
    text-align: justify;
}

/* Headings */
h1, h2 {
    font-family:  "Ubuntu", sans-serif;
    font-weight: 700;

}

.heading {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 2.6em;
    margin: 0;
}

h2 {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1em;
    margin-bottom: 0;
}

/* Paragraphs */
p, h3 {
    font-family:  "Ubuntu", sans-serif;
    font-size: 1.1em;
    hyphens: auto;
    line-height: 1.5;
}


/* Profile image */
.profilepic {
    margin: 20px 0 0 0;
    text-align: center;
}

/* Navigation Bar */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 0.8rem;
}

.title-link, .nav-links {
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
    padding: 0;
}

.title-link a, .nav-links a {
    color: var(--main-light);
    text-decoration: none;
}

.title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline var(--secondary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-links {
    font-family: "Ubuntu", sans-serif;;
    font-size: 1.1rem;
    text-align: right;
}

.nav-links a {
    margin: 0 10px;
}

/* Card listing */
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

/* Theme Icon */
html.light {
    background-color: var(--main-light);
    color: var(--main-dark);
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }

    .nav-bar {
        display: initial;
    }

    .title-link {
        text-align: center;
    }

    .nav-links {
        text-align: center;
    }

    .nav-links a {
        margin: 0 11px;
    }
}
