---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Blog Posts";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout pageTitle={pageTitle}>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
    {
        allPosts.map((post) =>
            <Card
                href={post.url}
                image="/GitHub.webp"
                title={post.frontmatter.title}
                body="Finger detection"
            />
        )
    }
    </ul>
</Layout>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>