---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import Button from "../components/Button.astro";

const pageTitle = "afrizal's website";
---

<Layout pageTitle={pageTitle}>
  <div class="profilepic">
    <img
      id="profilepic"
      width="300"
      height="259"
      alt="Profile"
      src="/profile.svg"
    />
  </div>
  <h1 class="heading">Afrizal</h1>
  <small>Math student</small>
  <Button
    href="https://drive.google.com/file/d/1o7IQxOzupT09YTIGr-heJjj1EYWudlCJ/view?usp=sharing/"
    text="resume"
  />
  <Button
    href="https://www.linkedin.com/in/muh-afrizal-nur-47b4a6228/"
    text="linkedin"
  />
  <Button href="mailto:afriizaalll@gmail.com" text="email me" />
  <h2>about me</h2>
  <p>
    Hello! I'm Muhammad <b>Afrizal</b>, a passionate student desc in
    Mathematics with a keen interest in programming. I have always been
    fascinated by the world of coding, and I've taken it upon myself to dive
    into the realm of self-taught programming. My educational journey began in a
    vocational high school where I specialized in software engineering, which
    laid a strong foundation for my programming skills.
  </p>
  <p>
    Currently, my focus is on the exciting and rapidly evolving field of data
    science and machine learning. I believe that harnessing the power of data
    can unlock countless possibilities and insights. Through my personal
    website, I aim to share my experiences, projects, and knowledge gained on
    this exciting journey.
  </p>

  <h2 id="academics">academics</h2>

  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <Timeline
            name="Pacmann Academy"
            desc="Data Science | Job Preparation Program"
            src="/img/pacmann.jpeg">
              <p>Relevant Course: Visualization, Business Understanding, Modelling</p>
          </Timeline>
          <Timeline
            name="UIN Alauddin Makassar"
            desc="Mathematics (6th semesters) | GPA: 3.86/4"
            src="/img/uinam.png"
            >
            <p>Relevant Course: Algorithms, Databases, Calculus, Statistics</p>
          </Timeline>
          <Timeline
          name="SMKN 4 Palopo"
          desc="Software Engineering | score: 89.4"
          src="/img/smk.jpeg"
          >
            <p>Relevant Course: Algorithms, Web Programming, OOP, Databases</p>
          </Timeline> 
        </div>
      </div>
    </div>
  </div>
  
  <h2>experiences</h2>  
  <div class="timeline">
    <div class="outer">
      <div class="card">
        <div class="info">
          <Timeline
          name="Badan Pusat Statistik Kabupaten Maros"
          desc="Student Intern"
          src="/img/bps.svg"
          >
          </Timeline>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <Timeline
            name="Laboratorium Komputer Matematika"
            desc="Assistant Laboratory"
            src="/img/uinam.png"
          >
          </Timeline>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <Timeline
            name="Dinas Komunikasi dan Informatika"
            desc="Student Intern"
            src="/img/kominfo.png"
          >
          </Timeline>
        </div>
      </div>
      
    </div>
  </div>

  <h2>skills</h2>
  <div class="link-images">
    <img
      width="46"
      height="46"
      alt="Pandas"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="Numpy"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="Docker"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain.svg"
    />
    <img
      width="46"
      height="46"
      alt="Javascript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
    />
    <img
      width="46"
      height="46"
      alt="MySQL"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg"
    />
    <img
      width="46"
      height="46"
      alt="PostGres"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
    />
    <img
      width="46"
      height="46"
      alt="python"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="R"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/r/r-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="Flask"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="express"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="golang"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg"
    />
    <img
      width="46"
      height="46"
      alt="c"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg"
    />
  </div>
  <h2>interests</h2>
  <p>
    I'm passionate about programming, philosophy, and the fascinating world of
    data. The art of coding allows me to create, innovate, and solve complex
    problems, while philosophy helps me ponder life's fundamental questions.
    Currently, I'm immersing myself in data science and machine learning, driven
    by the belief that data holds the key to unlocking insights and making
    meaningful advancements in today's technology-driven world.
  </p>
</Layout>
<style>
  /* small */
  small {
    background-color: #584966;
    color: var(--main-light);
    border-radius: 6px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
  }

  /* Button */
  button {
    background: var(--main-dark);
    border: 2px solid var(--main-dark);
    border-radius: 8px;
    color: black;
    font:
      600 16px "Josefin Sans",
      sans-serif;
    padding: 8px 16px;
    transition:
      background-color 0.4s,
      color 0.4s;
  }

  button:hover {
    background-color: red;
    color: var(--main-light);
    cursor: pointer;
  }

  .button {
    text-align: center;
  }

  /* Skill images */
  .link-images img {
    margin: 16px 4px;
  }

  .timeline {
    margin: 20px auto;
    padding: 20px;
  }
  .outer {
    border-left: 2px solid;
  }

  @media only screen and (max-width: 600px) {
    .link-images img {
      height: 30px;
      width: 30px;
      margin: 16px 1px;
    }
  }
</style>
