---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Works";
---

<Layout pageTitle={pageTitle}>
  <h2>Projects</h2>

  <div class="project">
    <h3 class="title">textiny [ <a href="">url</a> ]</h3>
    <p class="project-comp desc">a simple text editor based on terminal</p>
  </div>

  <div class="project">
    <h3 class="title">playscrape</h3>
    <p class="project-comp desc">a simple text editor based on terminal</p>
  </div>
</Layout>

<style>
  .project {
    padding: 1vh 0;
  }
  .project-comp {
    margin-top: 0vh;
    line-height: 0.5;
  }
</style>
