---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Works";
---
<Layout pageTitle={pageTitle}>
    <h2>Projects</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/afrizal0/playscrape"
            image="/GitHub.webp"
            title="Playscrape"
            body="Playstore user reviews scraper"
        />
        <Card
            href="https://github.com/afrizal0/finger_arithmetic"
            image="/GitHub.webp"
            title="Finger Arithmetic"
            body="Finger detection"
        />
    </ul>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/afrizal0/playscrape"
            image="/GitHub.webp"
            title="Playscrape"
            body="Playstore user reviews scraper"
        />
        <Card
            href="https://github.com/afrizal0/finger_arithmetic"
            image="/GitHub.webp"
            title="Finger Arithmetic"
            body="Finger detection"
        />
    </ul>
</Layout>
