---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<div class="button">
  <a href={href} target="_blank">
    <button>
      {text}
    </button>
  </a>
</div>

<style>
  button {
    width: 100%;
    border: 2px solid;
    color: var(--main-light);
    padding: 2vh;
    margin: 2px;
    cursor: pointer;
    background-color: transparent;
  }

  /* task: modify color */
  button:hover {
    background-color: var(--main-light);
    color: var(--main-dark);
  }
  html.light button {
    color: var(--main-dark);
  }
  html.light button:hover {
    background-color: var(--main-dark);
    color: var(--main-light);
  }
</style>
