<footer>
    <div>
        <small>&copy; <span id="copyright"></span> by <a href="https://github.com/afrizal0">afrizal</a>. All Rights Reserved.</small>
    </div>
</footer>
<style>
    div {
        margin: 4rem 0;
        text-align: center;
    }

    small {
        font-family: 'Josefin Sans', sans-serif; 
    }

    small a {
        color: #375a7f;
        text-decoration: none;
    }
</style>
<script>
    document.querySelector('#copyright').textContent = new Date().getFullYear().toString()  
</script>
