---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">afrizal</a>
    </div>
    <div class="nav-links">
        <a href="/">home</a>
        <a href="/projects/">works</a>
        <a href="/blog/">blog</a>
        <ThemeIcon />
    </div>
</div>
<style>
html.light .nav-bar a {
    color: #1e1e2e;
}
</style>
