---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">afrizal</a>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/works/">Works</a>
        <a href="/blog/">blog</a>
        <a href="https://drive.google.com/file/d/1o7IQxOzupT09YTIGr-heJjj1EYWudlCJ/view?usp=sharing" target="_blank">Resume</a>
        <ThemeIcon />
    </div>
</div>
