---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-bar">
  <div class="title-link">
    <a href="/">afrizal</a>
  </div>
  <div class="nav-links">
    <a href="/">home</a>
    <a href="/#academics">academics</a>
    <a href="/projects/">projects</a>
    <a href="/now/">now</a>
    <ThemeIcon />
  </div>
</div>
<style></style>
