<div class="timeline">
  <div class="outer">
    <div class="card">
      <div class="info">
        <div class="head">
            <h3 class="title">SMK NEGERI 4 PALOPO</h3>
            <p class="year">Software Engineering | score: 89.4</p>
        </div>
        <p>Relevant Course: Algorithms, web programming, OOP, Databases</p>
      </div>
    </div>
    <div class="card">
      <div class="info">
        <div class="head">
          <h3 class="title">UIN ALAUDDIN MAKASSAR</h3>
          <p class="year">Mathematics (3rd semesters) | GPA: 3.88/4</p>
        </div>
        <p>Relevant Course: Algorithms, Databases, Calculus, Statistics</p>
      </div>
    </div>

  </div>
</div>

<style>


/* Timeline Container */
.timeline {
  margin: 20px auto;
  padding: 20px;
}

.head .title {
  margin-bottom: 2px;
}
.head p {
  margin-top: 0px;
  font-style: italic;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid ;
}

html.light .card {
    border: 2px solid black;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: left;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -30px;
  border: 3px solid #929D0E;
}
</style>