---
import Image from "astro/components/Image.astro";
interface Props {
  schoolname: string;
  major: string;
  course: string;
  src: any;
}

const { schoolname, major, course, src } = Astro.props;
---

<div class="card">
  <div class="info">
    <div class="head">
      <div class="left">
        <img class="logo" src={src} alt="" />
      </div>
      <div class="right">
        <h3 class="title">{schoolname}</h3>
        <p class="year">{major}</p>
      </div>
    </div>
    <p>Relevant Course: {course}</p>
  </div>
</div>

<style>
  .head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    width: 10vh;
    border-radius: 20%;
    text-align: center;
    margin-right: 10px;
  }

  .head .title {
    margin-bottom: 2px;
  }

  .head p {
    margin-top: 0px;
    font-style: italic;
  }

  /* Outer Layer with the timeline border */

  html.light .card {
    border: 2px solid black;
  }

  /* Card container */
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    border: 2px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: left;
  }

  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -30px;
    border: 3px solid #929d0e;
  }
</style>
