---
import Layout from "../layouts/Layout.astro"
import { formatDate } from "../js/utils"
const { frontmatter } = Astro.props
const { title, description, category, author, pubDate, image } = frontmatter

---

<Layout pageTitle="Blog">
    <header>
        <div class="container">
           
            <h2>{title}</h2>
            <small>
                <a href={`/category/${category}`} class="badge">{category}</a>
            </small>
            <p>posted: <i>{formatDate(pubDate)}</i></p>
        </div>
    </header>
    <div class="post-content">
        <div class="content">
            <slot />
        </div>
        <div class="sidebar">
            
        </div>
    </div>
</Layout>


